<h2>
  <li>
    <p><%= link_to "#{story.title} (#{story.url_host})", story.url %></p>

    <small>
      <%= link_to "delete",
        story,
        method: :delete,
        data: { confirm: "Are you want to delete the story?" }
      %>

      |

      <% if story.all_comments.present? %>
        <%= link_to "#{story.all_comments.count} comments", story %>
      <% else %>
        <%= link_to "discuss", story %>
      <% end %>
    </small>
  </li>
</h2>
