<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Mini Hacker News', root_path, id: 'logo' %></li>
        <li><%= link_to 'home', '#'%></li>
        <li><%= link_to 'submit', '#' %></li>
      </ul>
    </nav>
  </div>
</header>
